*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x:hidden;
    font-family:arial;
}
body{
    background: linear-gradient(lightblue,blue);
    background-repeat: no-repeat;
    background-position:bottom;
    background-attachment: fixed;
    background-size: 100%;
    bottom: 0;
}
.header{
    width:100%;
    background:lightblue;
    z-index:1;
    position:fixed;
    top:0;
    display: block;
    align-items: center;
    box-shadow: 0 1px 5px black;
    padding:0.5rem;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    color:blue;
    cursor: pointer;
}
.nav-items ul{
    display: flex;  
}
.nav-items ul li{
    padding: 0.5rem;
}
.nav-items ul li a{
    padding:0.4rem 0.5rem;
    border:solid blue 2px;
    border-radius: 0.25rem;
    font-weight: bold;
    color:blue;
}
.menu-icons{
    display:none;
}
.main{
    margin-top:5rem;
    width:100%;
}
.hero-section{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding:1rem;
    border-bottom: solid whitesmoke 1px;
}
.info{
    margin-left:1rem;
    width:100%;
}
.info h1{
    font-size: 3rem;
    color:white;
    width:100%;
}
.info p{
    font-size: 1.2rem;
    line-height: 2rem;
    color:whitesmoke;
}
.hero-image{
    width:100%;
}
.main-image{
    width:90%;
    float:right;
    border-radius: 1rem;
}
.python{
    width:100%;
    background:whitesmoke;
    text-align: center;
}
.python p{
    font-size: 3rem;
    color:blue;
}
.python p img{
    width:5%;
    display:inline;
    vertical-align: middle;
}
.python button{
    background:lightblue;
    color:blue;
    font-weight: bold;
    padding:1rem;
    border:solid blue 2px;
    margin:1rem 0;
}
.python button a{
    font-weight: bold;
    padding:1rem;
    color:blue;
    font-size: 1rem;
}
.installation{
    width:100%;
    background:lightblue;
    text-align: center;
}
.installation p{
    font-size: 4rem;
    color:white;
    padding:2rem;
}
@media screen and (max-width:800px){
    .hero-section{
        grid-template-columns: 1fr;
    }
    .nav-items ul{
        display:none;  
    }
    .menu-icons{
        display:block;
    }
    .menu-open{
        display: block;
        width:2rem;
        height: 2rem;
        cursor: pointer;
    }
    .main-image{
        margin-right:2rem;
    }
    .info{
        margin-bottom: 1rem;
    }

    .installation p{
        font-size: 2rem;
    }
}